In [41]:
import pandas as pd
import numpy as np
missing_values = ["배달전문업체","심부름"]#
df = pd.read_csv("delivery.csv",na_values = missing_values)
df = df.filter(['DLVR_STORE_INDUTY_NM','DLVR_STORE_SIDO'])
df_group = df.groupby(['DLVR_STORE_SIDO'])
for a,b in df_group:
    print(a)
    print(b)

강원도
        DLVR_STORE_INDUTY_NM DLVR_STORE_SIDO
1490                  카페/디저트             강원도
1738                  카페/디저트             강원도
1826                  카페/디저트             강원도
2520                  카페/디저트             강원도
2808                  카페/디저트             강원도
...                      ...             ...
5156902               카페/디저트             강원도
5156967               카페/디저트             강원도
5157213               카페/디저트             강원도
5157857               카페/디저트             강원도
5158191               카페/디저트             강원도

[12703 rows x 2 columns]
경기도
        DLVR_STORE_INDUTY_NM DLVR_STORE_SIDO
1                         찜탕             경기도
3                         한식             경기도
4                         한식             경기도
5                      족발/보쌈             경기도
7                         야식             경기도
...                      ...             ...
5158317                   분식             경기도
5158318                   분식             경기도
5158319                   야식             경기도
5158321                   야식             경기도
5158322                족발/보쌈             경기도

[3059586 rows x 2 columns]
경상남도
        DLVR_STORE_INDUTY_NM DLVR_STORE_SIDO
0                         치킨            경상남도
34                     족발/보쌈            경상남도
56                        치킨            경상남도
75                        치킨            경상남도
79                        피자            경상남도
...                      ...             ...
5158204                   한식            경상남도
5158234                   치킨            경상남도
5158266                   치킨            경상남도
5158282                  NaN            경상남도
5158293                   치킨            경상남도

[266996 rows x 2 columns]
경상북도
        DLVR_STORE_INDUTY_NM DLVR_STORE_SIDO
44                        치킨            경상북도
46                        치킨            경상북도
48                        치킨            경상북도
90                        치킨            경상북도
201                       치킨            경상북도
...                      ...             ...
5158167                   치킨            경상북도
5158216                   치킨            경상북도
5158257                   치킨            경상북도
5158288                   치킨            경상북도
5158314                   한식            경상북도

[261268 rows x 2 columns]
광주광역시
        DLVR_STORE_INDUTY_NM DLVR_STORE_SIDO
1426                   패스트푸드           광주광역시
1677                   패스트푸드           광주광역시
2162                  카페/디저트           광주광역시
2181                   패스트푸드           광주광역시
2309                   패스트푸드           광주광역시
...                      ...             ...
5157779                   치킨           광주광역시
5157989                   치킨           광주광역시
5158183                   치킨           광주광역시
5158211                   치킨           광주광역시
5158273                   치킨           광주광역시

[11241 rows x 2 columns]
대구광역시
        DLVR_STORE_INDUTY_NM DLVR_STORE_SIDO
14                        치킨           대구광역시
61                        분식           대구광역시
172                       분식           대구광역시
176                       분식           대구광역시
255                       분식           대구광역시
...                      ...             ...
5157610               카페/디저트           대구광역시
5157941               카페/디저트           대구광역시
5158187               카페/디저트           대구광역시
5158262                   한식           대구광역시
5158308                   한식           대구광역시

[63526 rows x 2 columns]
대전광역시
        DLVR_STORE_INDUTY_NM DLVR_STORE_SIDO
286                       분식           대전광역시
367                   아시안/양식           대전광역시
481                       치킨           대전광역시
551                   아시안/양식           대전광역시
826                       한식           대전광역시
...                      ...             ...
5158130                   치킨           대전광역시
5158186               아시안/양식           대전광역시
5158215                   치킨           대전광역시
5158220                   치킨           대전광역시
5158289                   한식           대전광역시

[65325 rows x 2 columns]
부산광역시
        DLVR_STORE_INDUTY_NM DLVR_STORE_SIDO
1398                      분식           부산광역시
1654                      분식           부산광역시
1895                      한식           부산광역시
1915                      찜탕           부산광역시
1982                   패스트푸드           부산광역시
...                      ...             ...
5157393                   치킨           부산광역시
5157771                   치킨           부산광역시
5157805                   치킨           부산광역시
5158112                   치킨           부산광역시
5158127                   치킨           부산광역시

[31279 rows x 2 columns]
서울특별시
        DLVR_STORE_INDUTY_NM DLVR_STORE_SIDO
2                         치킨           서울특별시
6                         분식           서울특별시
8                         치킨           서울특별시
24                        치킨           서울특별시
29                        치킨           서울특별시
...                      ...             ...
5158277                    회           서울특별시
5158279                   한식           서울특별시
5158298                  NaN           서울특별시
5158320                   야식           서울특별시
5158323                   야식           서울특별시

[791041 rows x 2 columns]
인천광역시
        DLVR_STORE_INDUTY_NM DLVR_STORE_SIDO
68                        피자           인천광역시
86                        피자           인천광역시
88                        피자           인천광역시
146                       피자           인천광역시
289                       피자           인천광역시
...                      ...             ...
5158158                   한식           인천광역시
5158169                   한식           인천광역시
5158200                   한식           인천광역시
5158203                   치킨           인천광역시
5158240                   치킨           인천광역시

[105697 rows x 2 columns]
전라남도
        DLVR_STORE_INDUTY_NM DLVR_STORE_SIDO
11                        치킨            전라남도
126                       치킨            전라남도
292                       치킨            전라남도
444                       치킨            전라남도
541                    족발/보쌈            전라남도
...                      ...             ...
5157710                   치킨            전라남도
5158036                   한식            전라남도
5158046               카페/디저트            전라남도
5158177                   피자            전라남도
5158213                   치킨            전라남도

[34143 rows x 2 columns]
전라북도
        DLVR_STORE_INDUTY_NM DLVR_STORE_SIDO
27                        치킨            전라북도
59                        치킨            전라북도
100                       치킨            전라북도
109                   돈까스/일식            전라북도
156                       치킨            전라북도
...                      ...             ...
5158231                   한식            전라북도
5158243                   치킨            전라북도
5158247                족발/보쌈            전라북도
5158248                   치킨            전라북도
5158310                   치킨            전라북도

[124421 rows x 2 columns]
제주특별자치도
        DLVR_STORE_INDUTY_NM DLVR_STORE_SIDO
20                        야식         제주특별자치도
123                       치킨         제주특별자치도
191                       치킨         제주특별자치도
277                       치킨         제주특별자치도
298                       한식         제주특별자치도
...                      ...             ...
5158269                   야식         제주특별자치도
5158271                   치킨         제주특별자치도
5158281                   치킨         제주특별자치도
5158311                   치킨         제주특별자치도
5158316                   치킨         제주특별자치도

[67578 rows x 2 columns]
충청남도
        DLVR_STORE_INDUTY_NM DLVR_STORE_SIDO
17                        한식            충청남도
96                        중식            충청남도
185                       분식            충청남도
229                       피자            충청남도
353                    족발/보쌈            충청남도
...                      ...             ...
5158221                   피자            충청남도
5158280                   치킨            충청남도
5158287                   야식            충청남도
5158307                   피자            충청남도
5158315                   중식            충청남도

[168835 rows x 2 columns]
충청북도
        DLVR_STORE_INDUTY_NM DLVR_STORE_SIDO
1425                      찜탕            충청북도
1662                  카페/디저트            충청북도
1830                       회            충청북도
1900                  돈까스/일식            충청북도
1927                      분식            충청북도
...                      ...             ...
5157733               카페/디저트            충청북도
5157742                족발/보쌈            충청북도
5158008                   치킨            충청북도
5158135                   한식            충청북도
5158263                족발/보쌈            충청북도

[94685 rows x 2 columns]

In [31]:
GDP = pd.read_csv('GDP_per_city.csv',encoding='cp949')
GDP=GDP.filter(['행정구역','2017 p).2'])
GDP

       행정구역  2017 p).2
0     서울특별시      21429
1     부산광역시      18332
2     대구광역시      17568
3     인천광역시      17550
4     광주광역시      17343
5     대전광역시      18454
6       경기도      18580
7       강원도      16583
8      충청북도      17030
9      충청남도      17613
10     전라북도      16848
11     전라남도      15938
12     경상북도      16504
13     경상남도      16864
14  제주특별자치도      17464

In [38]:
pcc= pd.read_csv('people_count_per_city.csv',encoding='cp949')
pcc=pcc.filter(['인구'])
pcc

          인구
0    9708247
1    3401072
2    2428228
3    2943491
4    1454154
5    1469431
6   13370714
7    1540689
8    1598162
9    2120519
10   1807094
11   1851985
12   2640932
13   3345169
14    672524

In [39]:
GDP_PCC=pd.concat([GDP,pcc],axis=1)
GDP_PCC

       행정구역  2017 p).2        인구
0     서울특별시      21429   9708247
1     부산광역시      18332   3401072
2     대구광역시      17568   2428228
3     인천광역시      17550   2943491
4     광주광역시      17343   1454154
5     대전광역시      18454   1469431
6       경기도      18580  13370714
7       강원도      16583   1540689
8      충청북도      17030   1598162
9      충청남도      17613   2120519
10     전라북도      16848   1807094
11     전라남도      15938   1851985
12     경상북도      16504   2640932
13     경상남도      16864   3345169
14  제주특별자치도      17464    672524

In [42]:
import matplotlib.pylab as plt

In [43]:
df['DLVR_STORE_INDUTY_NM'].unique()

array(['치킨', '찜탕', '한식', '족발/보쌈', '분식', '야식', '돈까스/일식', '회', '피자', '중식',
       '카페/디저트', nan, '패스트푸드', '아시안/양식', '도시락'], dtype=object)